= simple_form_for bet, :url => match_bets_path, method: :post do |f|
  = f.error_notification

  .form-inputs
    = f.input :team_a_goals
    = f.input :team_b_goals

  .form-actions
    = f.button :submit
