%h1 Listing bets

%table
  %thead
    %tr
      %th User
      %th Match
      %th Team a goals
      %th Team b goals
      %th
      %th
      %th

  %tbody
    - bets.each do |bet|
      %tr
        %td= bet.user_id
        %td= bet.match_id
        %td= bet.team_a_goals
        %td= bet.team_b_goals
        %td= link_to 'Show', bet
        %td= link_to 'Edit', edit_bet_path(bet)
        %td= link_to 'Destroy', bet, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Bet', new_bet_path
