= simple_form_for match do |f|
  - if match.errors.any?
    #error_explanation
      %h2= "#{pluralize(@match.errors.count, "error")} prohibited this match from being saved:"
      %ul
        - @match.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :team_a_id
    = f.input :team_a_id, collection: all_teams
  .field
    = f.label :team_b_id
    = f.input :team_b_id, collection: all_teams
  .field
    = f.label :date
    #datetimepicker1.input-group.date
      = f.text_field :date, class: 'form-control', :type => "text"
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar
  - if match.played?
    .field
      = f.label :team_a_goals
      = f.number_field :team_a_goals
    .field
      = f.label :team_b_goals
      = f.number_field :team_b_goals
  .actions
    = f.submit 'Save'
