%p
  %b Team a:
  = match.team_a.name
%p
  %b Team b:
  = match.team_b.name
%p
  %b Date:
  = match.date
- if match.played?
  %p
    %b Team a goals:
    = match.team_a_goals
  %p
    %b Team b goals:
    = match.team_b_goals

= link_to 'Edit', edit_match_path(match) if match.unplayed?
\|
= link_to 'Result', provide_results_match_path(match) if match.played?