!!!
%html
  %head
    %title Teamb
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = nav_bar fixed: :top, brand: "Fashionable Clicheizr 2.0", responsive: true do
      = menu_group do
        = menu_item "Home", root_path
        = menu_divider

      = menu_group pull: :right do
        - if current_user
          = menu_item do
            = link_to "Log Out", destroy_user_session_path, method: :delete
  = yield
